

<a href="#" class="list-group-item clearfix" (click)="selectedItem(recipeItem)">
    <div class="row">
        <div class="col-xs-7">
            <h4 class="list-group-item-heading">{{ recipeItem.name }}</h4>
            <p class="list-group-item-text">{{recipeItem.description}}</p>
        </div>
        <div class="col-xs-offset-1 col-xs-4">
            <img [src]="recipeItem.imagePath" alt="{{ recipeItem.name }}" class="img-responsive" style="max-height:50px;">
        </div>
    </div>
</a>